.ms-container{
	width:100%;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.espaciado{
	margin-right:6px;
}

.elemento_grupo{
	margin-top:2px;
	margin-bottom:2px;	
}

.etiqueta-titulo-horizontal {
	margin-top:6px;
}

.error {
	font-weight: bold;
	color: red;
}
.mensaje-carga {
	font-size:18px;
	margin-bottom: 10px;
    margin-top: 10px;
}

.main-sidebar, .left-side {
	width: 150px;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 150px;
}

.callout {
    border-left: 4px solid #eee;
    border-radius: 2px;
    margin: 0 0 2px;
    padding: 1px 1px 1px 10px;
}

body {
    font-size: 14px;	/*se cambio de 12px a 14px por req 9000003068 */
}

.content {
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    padding: 4px 10px;
}

.box-header {
    color: #444;
    display: block;
    padding: 5px 10px;
    position: relative;
}

.box-body {
    border-radius: 0 0 3px 3px;
    padding: 5px 10px;
}

.main-header > .navbar {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 150px;
    min-height: 50px;
}

.main-header .logo {
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
    width: 150px;
}

h3.titulo-petro{
	font-size: 14px;
	margin-top:10px;
}

.content-header {
    padding: 10px 10px 0;
    position: relative;
}

.content-header > h1 {
    font-size: 20px;
    margin: 0;
}

.navbar {
    height:40px;
}

.main-header > .navbar {
    min-height: 40px;
}

.main-header .logo {
    height: 40px;
    line-height: 40px;
}

.main-header .sidebar-toggle {
    padding: 10px;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Tablas CSS*/

div.dataTables_length select {
	width: 50% !important;
}


table.sgo-simple-table{
	margin-bottom: 2px;
    margin-top: 2px;
}

table.sgo-table{
	margin-bottom: 2px;
    margin-top: 2px;
    cellspacing:0px;
	width:100%;
	font-size:13px;			/*se cambio de 11px a 13px por req 9000003068 */
	/*table-bordered*/
	border: 1px solid #6e6e6e;
	border-collapse: separate !important;
}

table.sgo-table > tbody > tr > td, 
table.sgo-table > tbody > tr > th, 
table.sgo-table > tfoot > tr > td, 
table.sgo-table > tfoot > tr > th, 
table.sgo-table > thead > tr > td, 
table.sgo-table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 10px;
    padding: 6px;
    vertical-align: top;
}

table.sgo-table tbody tr.selected {
	/*Color del fondo de la fila cuando se selecciona*/
  background-color:#08c;
}

table.sgo-table tbody tr.selected, 
table.sgo-table tbody th.selected, 
table.sgo-table tbody td.selected {
	/*Color de la fuenta cuando la fila se selecciona*/
    color: white;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
	/*Color del fondo de la fila intercalado para efecto zebra*/
    background-color: #D6E9F5;
}

table.sgo-table > caption + thead > tr:first-child > td, 
table.sgo-table > caption + thead > tr:first-child > th, 
table.sgo-table > colgroup + thead > tr:first-child > td, 
table.sgo-table > colgroup + thead > tr:first-child > th, 
table.sgo-table > thead:first-child > tr:first-child > td, 
table.sgo-table > thead:first-child > tr:first-child > th {
	/*Color del texto de la cabecera */
	color: #fbf9f6;
	/*Color del fondo de la cabecera */
    background-color: #FFC05A;
}

table.sgo-table th {
    text-align: center;
}

table.sgo-table > tbody > tr > td, 
table.sgo-table > tbody > tr > th {
    border-bottom:1px solid #6e6e6e;
    border-right:1px solid #6e6e6e;
    border-top:0px;
    border-left:0px;
}

table.sgo-table > thead > tr > td, 
table.sgo-table > thead > tr > th {
    border-bottom:1px solid #6e6e6e;
    border-right:1px solid #6e6e6e;
    border-top:0px;
    border-left:0px;
}

table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after {
    opacity: 1;
    position: absolute;
    right: 8px;
    top: 6px;
}


.table-condensed > tbody > tr > td.celda-detalle
{
    padding: 0px;
}

table.sgo-simple-table > thead > tr > td.celda-cabecera-detalle, 
table.sgo-simple-table > thead > tr > th.celda-cabecera-detalle {
    line-height: 10px;
}


/*FIN DE CSS PARA TABLE*/
.select2-container--bootstrap .select2-selection--single {
    height: 24px;
    line-height: 1.42857;
    /*padding: 6px 24px 6px 12px;*/
    padding: 3px 12px 3px 6px;
}

.select2-container--bootstrap .select2-selection {
    font-size: 11px;
}

.select2-container .select2-selection--single {
    height: 24px;
    font-size: 13px;		/*se cambio de 11px a 13px por req 9000003068 */
}

.tabla-vista-titulo{
	background-color: #FFC05A;
	font-weight:bold;
}

.celda-detalle{
	padding:1px;
}

.box {
    margin-bottom: 5px;
}

.input-sm {
    border-radius: 2px;
    font-size: 13px;	/*se cambio de 11px a 13px por req 9000003068 */
    height: 24px;
    line-height: 1.5;
    padding: 5px 5px;
}

select.input-sm {
    height: 24px;
    line-height: 1.5;
    padding: 3px;
}

.btn-group-sm > .btn, .btn-sm {
    border-radius: 2px;
    font-size: 11px;
    height: 24px;
    line-height: 1;
    padding: 5px;
}

.celda-titulo{
	font-size:11px;
}

.celda-titulo-vertical{
	font-size:11px;
}

.skin-blue .main-header .navbar {
    background-color: #3c8dbc;
}

.skin-blue .main-header .logo {
    background-color: #367fa9;
}

td.details-control {
    background: url('../imagen/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../imagen/details_close.png') no-repeat center center;
}

.titulo-bienvenida{
	color: #fbf9f6;
	text-align:left;
	font-weight:bold;
}

.skin-blue .main-header .navbar {
    background-color: #e31c17;
}

.skin-blue .main-header .logo {
   background-color:  #e31c17;
}

.texto-derecha {
	text-align: right;
}
