@CHARSET "ISO-8859-1";

/**
* TABLA GRUPO APERTURA
*/
table.grupo-apertura
{
	width: 100%;
}

table.grupo-apertura thead tr td
{
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #6e6e6e !important; 
    border-bottom: 1px solid #6e6e6e;
}

table.grupo-apertura thead tr td label
{
	margin-top: 3px;
	margin-bottom: 3px !important; 
}

table.grupo-apertura thead
{
    background-color: #FFC05A;
    color: white;
}

table.grupo-apertura thead tr td:nth-child(1)
{
	width: 7% !important;
    border-left: 1px solid #6e6e6e;
}

table.grupo-apertura thead tr td:nth-child(4)
{
    border-right: 1px solid #6e6e6e !important; 
}

table.grupo-apertura thead tr td:nth-child(2),
table.grupo-apertura thead tr td:nth-child(3),
table.grupo-apertura thead tr td:nth-child(4)
{
    width: 31% !important;
}

table.grupo-apertura tbody
{
    height: 375px;
}

table.grupo-apertura tbody tr td:nth-child(1)
{
    width: 7% !important;
}

table.grupo-apertura tbody tr td:nth-child(2),
table.grupo-apertura tbody tr td:nth-child(3),
table.grupo-apertura tbody tr td:nth-child(4)
{
    width: 31% !important;
}
/**
* TABLA GRUPO APERTURA
*/




/**
* TABLA GRUPO CIERRE
*/
table.grupo-cierre
{
	width: 100%;
}

table.grupo-cierre thead tr td
{
    padding: 0 !important; 
    margin: 0 !important; 
    text-align: center;
    border-top: 1px solid #6e6e6e !important; 
    border-bottom: 1px solid #6e6e6e;
}

table.grupo-cierre thead tr td label
{
	margin-top: 3px;
	margin-bottom: 3px !important; 
}

table.grupo-cierre thead
{
    background-color: #FFC05A;
    color: white;
}

table.grupo-cierre tbody
{
    height: 375px;
}

table.grupo-cierre thead tr td:nth-child(1)
{
    width: 7% !important;
    border-left: 1px solid #6e6e6e;
}

table.grupo-cierre thead tr td:nth-child(2),
table.grupo-cierre thead tr td:nth-child(3)
{
    width: 30% !important;
}

table.grupo-cierre thead tr td:nth-child(4),
table.grupo-cierre thead tr td:nth-child(5),
table.grupo-cierre thead tr td:nth-child(6)
{
    width: 11% !important;
}

table.grupo-cierre thead tr td:nth-child(6)
{
    border-right: 1px solid #6e6e6e;
}

table.grupo-cierre tbody tr td:nth-child(1)
{
    width: 7% !important;
}

table.grupo-cierre tbody tr td:nth-child(2),
table.grupo-cierre tbody tr td:nth-child(3)
{
    width: 32.5% !important;
}


table.grupo-cierre tbody tr td:nth-child(4),
table.grupo-cierre tbody tr td:nth-child(5),
table.grupo-cierre tbody tr td:nth-child(6)
{
    width: 12% !important;
}
/**
* TABLA GRUPO CIERRE
*/




/*
 * Component: Callout
 * ------------------
 */
.callout.callout-width {
	border-radius: 3px;
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
}

#modalDiaOperativoCierre {
	width: 50% !important;
	min-width: 50% !important;
	line-height: 14px !important;
}
