@CHARSET "ISO-8859-1";

/**
* TABLA GRUPO APERTURA
*/
table.grupo-apertura
{
	width: 100%;
}

table.grupo-apertura thead tr td
{
    padding: 0;
    margin: 0;
    text-align: center;
}

table.grupo-apertura thead tr td label
{
	margin-top: 3px;
	margin-bottom: 3px !important; 
}

table.grupo-apertura thead
{
    background-color: #FFC05A;
    color: white;
}

table.grupo-apertura tbody
{
    height: 375px;
}

table.grupo-apertura tbody tr td:nth-child(1),
table.grupo-apertura tbody tr td:nth-child(2),
table.grupo-apertura tbody tr td:nth-child(3)
{
    width: 50% !important;
}

table.grupo-apertura thead tr td:nth-child(1),
table.grupo-apertura thead tr td:nth-child(2),
table.grupo-apertura thead tr td:nth-child(3)
{
    width: 50% !important;
}

table.grupo-apertura thead tr td:nth-child(3)
{
    border-right: 0;
}
/**
* TABLA GRUPO APERTURA
*/




/**
* TABLA GRUPO CIERRE
*/
table.grupo-cierre
{
	width: 100%;
}

table.grupo-cierre thead tr td
{
    padding: 0 !important; 
    margin: 0 !important; 
    text-align: center;
    border-top: 1px solid #6e6e6e !important; 
    border-bottom: 1px solid #6e6e6e;
}

table.grupo-cierre thead tr td label
{
	margin-top: 3px;
	margin-bottom: 3px !important; 
}

table.grupo-cierre thead
{
    background-color: #FFC05A;
    color: white;
}

table.grupo-cierre tbody
{
    height: 375px;
}

table.grupo-cierre tbody tr td:nth-child(1),
table.grupo-cierre tbody tr td:nth-child(2)
{
    width: 25% !important;
}

table.grupo-cierre tbody tr td:nth-child(3),
table.grupo-cierre tbody tr td:nth-child(4),
table.grupo-cierre tbody tr td:nth-child(5)
{
    width: 16.666666% !important;
}

table.grupo-cierre thead tr td:nth-child(1),
table.grupo-cierre thead tr td:nth-child(2)
{
    width: 25% !important;
}

table.grupo-cierre thead tr td:nth-child(1)
{
    border-left: 1px solid #6e6e6e;
}

table.grupo-cierre thead tr td:nth-child(5)
{
    border-right: 1px solid #6e6e6e;
}

table.grupo-cierre thead tr td:nth-child(3),
table.grupo-cierre thead tr td:nth-child(4),
table.grupo-cierre thead tr td:nth-child(5)
{
    width: 16.666666% !important;
}

table.grupo-cierre thead tr td:nth-child(3)
{
    border-right: 0;
}
/**
* TABLA GRUPO CIERRE
*/





